body {
  background-image: url;(https://i.ytimg.com/vi/LYSSFMxqvJs/maxresdefault.jpg)
}

 b {
   width:50%
   margin-right: auto;
   margin-bottom: auto;
   font-family: "arial",sans-serif;
   color: red;
   font-size: 72px;
   text-align:  left;

 }
