body {
  margin:0;
  background-color: black;
  color: red;
  font-size: 25px

  }
}

div {
  float: right;
}

.logo{
  display:block;
  margin:0 auto;
  width: 50%
}

.header {
}

.navagation {
}

.main-content {
}

.main-content{
  margin:10%auto;
}

.sidebar {
  pixels: 100px;
  padding: 5px;
}

.footer {
}
